* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0b1d3a;
    color: white;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    background: #081229;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    border-bottom: 2px solid gold;
}

.logo {
    font-family: 'Cinzel', serif;
    font-size: 24px;
    color: gold;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: gold;
}

.cart {
    font-weight: bold;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("https://images.unsplash.com/photo-1505577058444-a3dab90d4253") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 55px;
    font-family: 'Cinzel', serif;
    color: gold;
}

.hero button {
    margin-top: 20px;
    padding: 12px 30px;
    background: gold;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* PRODUCTS */
.products {
    padding: 100px 8%;
    text-align: center;
}

.products h2 {
    color: gold;
    font-family: 'Cinzel', serif;
}

.product-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.product-card {
    background: #112a4d;
    padding: 20px;
    width: 260px;
    border-radius: 10px;
    border: 1px solid gold;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 15px gold;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.product-card button {
    margin-top: 10px;
    padding: 8px 15px;
    background: gold;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.order-btn {
    margin-top: 40px;
    padding: 14px 35px;
    background: gold;
    color: black;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

/* ABOUT */
.about {
    display: flex;
    padding: 80px 8%;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.about h2 {
    color: gold;
}

/* CONTACT */
.contact {
    background: #081229;
    text-align: center;
    padding: 60px;
    border-top: 2px solid gold;
}

footer {
    background: black;
    text-align: center;
    padding: 15px;
    color: gold;
}
